.runningManContainer {
  z-index: 2;
}

.skateboardingImage {
  width: 150px;
  height: auto;
  z-index: 1;
  transform: rotate(3deg);
}

@media (max-width: 1024px) {
  .skateboardingImage {
    width: 110px;
  }
}

@media (max-width: 600px) {
  .skateboardingImage {
    width: 80px;
  }
}