:root {
    --font-size-5xl: 24px; /* Example value, adjust as needed */
    --gap-21xl: 20px; /* Example value, adjust as needed */
  }
  
  .navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 6%;
    width: 100vw;
    justify-content: space-between;
    font-size: var(--font-size-5xl);
  }
  
  .logoFeelioIcon1 {
    width: 186px;
    height: 56px;
    object-fit: cover;
  }
  
  .sectionParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-21xl);
  }
  
  .section {
    text-decoration: none;
    color: #000000;
  }
  
  .burgerMenu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .burgerMenuContent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 100px; /* Adjust as needed */
    right: 100px; /* Adjust as needed */
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 1024px) {

    .navbar {
      padding-left: 8%;
      padding-right: 8%;
      padding-bottom: 4%;

    }
  
    .sectionParent {
      display: none;
    }
  
    .burgerMenu {
      display: block;
    }
  
    .burgerMenuContent {
      display: flex;
    }
  }
  
  @media (max-width: 600px) {
    .logoFeelioIcon1 {
      width: 100px;
      height: 30px;
    }
  }
  