.footer {
    background-color: var(--grey);
    width: 100vw;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-size: var(--font-size-5xl);
    color: var(--white);
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: flex-end;
}

.footerPageLink,
.footerContent {
    display: flex;
}

.logoFeelioIcon {
    width: 122px;
    height: 36.7px;
}

.footerPageLink {
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
}

.section {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.section::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--white);
    transition: width 0.3s ease-in-out;
  }
  
  .section:hover::after {
    width: 100%;
  }

.legalContent{
    display: flex;
    gap: 1rem;
}

.sectionLegal {
    font-size: 0.875rem;
    cursor: pointer;
    text-decoration: underline;
    color: var(--white);
}

.copyrightFeelio {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;

    margin-left: 10vw;
    margin-right: 10vw;

    border-top: 1px solid rgba(255, 255, 255, 0.3); 
    padding-top: 20px; 
    padding-bottom: 20px;
}


/* Responsive design for tablets */
@media (max-width: 1024px) {
    .section{
        display: none;
    }

    .sectionLegal {
        font-size: 0.875rem;
    }

}
  
/* Responsive design for phones */
@media (max-width: 600px) {
    .footer {
        height: 70px;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 20px;
    }

    .copyrightFeelio{
        font-size: 0.875rem;
        height: 30px;
        text-align: center;

        border-top: none; 
        padding-top: 0px; 
        padding-bottom: 0px;
    }

    .logoFeelioIcon {
        width: 100px;
        height: 30px;
    }

    .sectionLegal {
        font-size: 0.75rem;
        cursor: pointer;
        text-decoration: underline;
        color: var(--white);
    }
}